/* Mobile-first: default mobile */
.banner {
  background-color: var(--green-color);
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
  width: 100%;
  top: 0;

  .title {
    font-family: var(--font-titillium);
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .description {
    font-size: 1rem;
    font-weight: 300 !important;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .banner {
    padding: 2rem;
    top: 58px;

    .title {
      font-size: 3.5rem;
    }

    .description {
      font-size: 1.5rem;
    }
  }
}
