<div class="banner" *ngIf="!isAuthenticated()">
  <h1 class="title">conduit</h1>
  <img src="assets/minion.gif" />
  <img src="assets/minion2.gif" />
  <p class="description">A place to share your knowledge</p>
</div>
<canvas #canvasEl></canvas>
<iframe src="assets/la-metaphysique-aristote.pdf" height="600px"></iframe>
<div
  class="news-feed row"
  [style.marginTop]="!isAuthenticated() ? '232px' : ''"
>
  <div class="col-9">
    <app-feed-toggle (toggleFeed)="toggleFeed($event)"></app-feed-toggle>
    <app-article-list
      (toggleFavorite)="toggleFavorite($event)"
      [articleList]="articleList"
    ></app-article-list>
    <app-pagination
      [totalCount]="articleCount"
      [offset]="currentOffset"
      (offsetChange)="onPageOffsetChange($event)"
    ></app-pagination>
  </div>
  <div class="col-3">
    <app-tags (selectTag)="selectTag($event)"></app-tags>
  </div>
</div>

<div class="worm">
  <div class="eye right"></div>
  <div class="eye left"></div>
  <div class="body">
    <div class="throat throat-1"></div>
    <div class="throat throat-2"></div>
    <div class="throat throat-3"></div>
    <div class="throat throat-4"></div>
    <div class="throat throat-5"></div>
    <div class="throat throat-6"></div>
    <div class="throat throat-7"></div>
    <div class="throat throat-8"></div>
    <div class="segment segment-1">
      <div class="tooth tooth-1"></div>
      <div class="tooth tooth-2"></div>
      <div class="tooth tooth-3"></div>
      <div class="tooth tooth-4"></div>
      <div class="tooth tooth-5"></div>
      <div class="tooth tooth-6"></div>
      <div class="tooth tooth-7"></div>
      <div class="tooth tooth-8"></div>
      <div class="tooth tooth-9"></div>
      <div class="tooth tooth-10"></div>
      <div class="tooth tooth-11"></div>
      <div class="tooth tooth-12"></div>
    </div>
    <div class="segment segment-2">
      <div class="tooth tooth-1"></div>
      <div class="tooth tooth-2"></div>
      <div class="tooth tooth-3"></div>
      <div class="tooth tooth-4"></div>
      <div class="tooth tooth-5"></div>
      <div class="tooth tooth-6"></div>
      <div class="tooth tooth-7"></div>
      <div class="tooth tooth-8"></div>
      <div class="tooth tooth-9"></div>
      <div class="tooth tooth-10"></div>
      <div class="tooth tooth-11"></div>
      <div class="tooth tooth-12"></div>
    </div>
    <div class="segment segment-3">
      <div class="tooth tooth-1"></div>
      <div class="tooth tooth-2"></div>
      <div class="tooth tooth-3"></div>
      <div class="tooth tooth-4"></div>
      <div class="tooth tooth-5"></div>
      <div class="tooth tooth-6"></div>
      <div class="tooth tooth-7"></div>
      <div class="tooth tooth-8"></div>
      <div class="tooth tooth-9"></div>
      <div class="tooth tooth-10"></div>
      <div class="tooth tooth-11"></div>
      <div class="tooth tooth-12"></div>
    </div>
    <div class="segment segment-4">
      <div class="tooth tooth-1"></div>
      <div class="tooth tooth-2"></div>
      <div class="tooth tooth-3"></div>
      <div class="tooth tooth-4"></div>
      <div class="tooth tooth-5"></div>
      <div class="tooth tooth-6"></div>
      <div class="tooth tooth-7"></div>
      <div class="tooth tooth-8"></div>
      <div class="tooth tooth-9"></div>
      <div class="tooth tooth-10"></div>
      <div class="tooth tooth-11"></div>
      <div class="tooth tooth-12"></div>
    </div>
    <div class="segment segment-5">
      <div class="tooth tooth-1"></div>
      <div class="tooth tooth-2"></div>
      <div class="tooth tooth-3"></div>
      <div class="tooth tooth-4"></div>
      <div class="tooth tooth-5"></div>
      <div class="tooth tooth-6"></div>
      <div class="tooth tooth-7"></div>
      <div class="tooth tooth-8"></div>
      <div class="tooth tooth-9"></div>
      <div class="tooth tooth-10"></div>
      <div class="tooth tooth-11"></div>
      <div class="tooth tooth-12"></div>
    </div>
    <div class="segment segment-6">
      <div class="tooth tooth-1"></div>
      <div class="tooth tooth-2"></div>
      <div class="tooth tooth-3"></div>
      <div class="tooth tooth-4"></div>
      <div class="tooth tooth-5"></div>
      <div class="tooth tooth-6"></div>
      <div class="tooth tooth-7"></div>
      <div class="tooth tooth-8"></div>
      <div class="tooth tooth-9"></div>
      <div class="tooth tooth-10"></div>
      <div class="tooth tooth-11"></div>
      <div class="tooth tooth-12"></div>
    </div>
    <div class="segment segment-7">
      <div class="tooth tooth-1"></div>
      <div class="tooth tooth-2"></div>
      <div class="tooth tooth-3"></div>
      <div class="tooth tooth-4"></div>
      <div class="tooth tooth-5"></div>
      <div class="tooth tooth-6"></div>
      <div class="tooth tooth-7"></div>
      <div class="tooth tooth-8"></div>
      <div class="tooth tooth-9"></div>
      <div class="tooth tooth-10"></div>
      <div class="tooth tooth-11"></div>
      <div class="tooth tooth-12"></div>
    </div>
    <div class="segment segment-8">
      <div class="tooth tooth-1"></div>
      <div class="tooth tooth-2"></div>
      <div class="tooth tooth-3"></div>
      <div class="tooth tooth-4"></div>
      <div class="tooth tooth-5"></div>
      <div class="tooth tooth-6"></div>
      <div class="tooth tooth-7"></div>
      <div class="tooth tooth-8"></div>
      <div class="tooth tooth-9"></div>
      <div class="tooth tooth-10"></div>
      <div class="tooth tooth-11"></div>
      <div class="tooth tooth-12"></div>
    </div>
  </div>
</div>
<audio
  src="assets/goofy-ahh-scream-194130.mp3"
  autoplay="true"
  loop="true"
></audio>
