<div class="register">
  <h1>Sign up</h1>
  <a routerLink="/login" class="login">Have an account?</a>

  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="register-form"
  >
    <app-form-errors [errorResponse]="errorResponse"></app-form-errors>

    <section *ngIf="currentStep === 1">
      <input
        type="text"
        formControlName="username"
        class="form-control form-control-lg"
        autocomplete="new-username"
        placeholder="Username"
      />
      <div class="navigation-arrows">
        <span></span>
        <button
          type="button"
          class="arrow-btn"
          (click)="nextStep()"
          [disabled]="
            registerForm.get('username')?.invalid ||
            registerForm.get('username')?.untouched
          "
        >
          Next →
        </button>
      </div>
    </section>

    <section *ngIf="currentStep === 2" class="step-container">
      <input
        type="email"
        formControlName="email"
        class="form-control form-control-lg"
        autocomplete="new-email"
        placeholder="Email"
      />
      <div class="navigation-arrows">
        <button type="button" class="arrow-btn" (click)="prevStep()">
          ← Back
        </button>
        <button
          type="button"
          class="arrow-btn"
          (click)="nextStep()"
          [disabled]="
            registerForm.get('email')?.invalid ||
            registerForm.get('email')?.untouched
          "
        >
          Next →
        </button>
      </div>
    </section>

    <section *ngIf="currentStep === 3" class="step-container">
      <input
        type="password"
        formControlName="password"
        class="form-control form-control-lg"
        autocomplete="new-password"
        placeholder="Password"
      />
      <div class="navigation-arrows">
        <button type="button" class="arrow-btn" (click)="prevStep()">
          ← Back
        </button>
        <button
          type="submit"
          class="btn sign-up-btn btn-lg"
          [disabled]="registerForm.invalid"
        >
          Sign up
        </button>
      </div>
    </section>

    <div class="progress-dots">
      <span [class.active]="currentStep === 1"></span>
      <span [class.active]="currentStep === 2"></span>
      <span [class.active]="currentStep === 3"></span>
    </div>
  </form>
</div>
